/**
* @author Léa Marois
*/

/** Polices de caractères **/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

$fonte : "Nunito Sans", sans-serif;

/** Palette de couleurs **/

$DM--Background: #202c37;
$DM--Text: #ffffff;
$DM--Elements: #2b3945;

$LM--Background: #fafafa;
$LM--Text: #111517;
$LM--Elements: #ffffff;
$LM--Inputs: #858585;


/** Points de rupture **/
$desktop : 601px;