@charset "UTF-8";

/**
 * @author Léa Marois leamarois21@gmail.com
 */

/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */

/****** Librairies ******/

/** Normalize **/
@import "../../../node_modules/normalize.scss/normalize.scss";

/** Utilitaires **/
@import "utilitaires/variables";
@import "utilitaires/mixins";

/** Base **/
@import "base/typo";
@import "base/header";
@import "base/card";

/** Reset **/
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input[type=search], select {
  border: none;
}

/** Général **/
//Margins
header {
  padding: 0 20px;
  @media (min-width:$desktop) {
    padding: 0 100px;
  }
}
main {
  padding: 0 20px;
  @media (min-width:$desktop) {
    padding: 0 100px;
  }
}


/** DarkMode Styling **/
.lightMode {
  @include theme(light)
}
.darkMode {
  @include theme(dark)
}

/** Elements Forms **/
.ctn_filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width:$desktop) {
    flex-direction: row;
    justify-content: space-between;
  }
}
// Search
.ctnSearch, select {
  height: 4.5rem;
  border: none;
  box-shadow: $boxShadow;
  border-radius: $borderRadius
}
.ctnSearch {
  display: inline-block;
  position: relative;
  padding-right: 1rem;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    height: 100%;
    left: 2rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 1.5em;
  }

  input[type=search] {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    padding-left: 6rem;
    border-radius: $borderRadius
  }
}

/** Listes **/
.liste_pays {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}
// Caché les items de la listes lorsqu'on filtre ou cherche
.paysCache {
  display: none;
}

/** Fiche **/

.detailPage main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "back"
  "image"
  "content";
  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 40px;
    grid-template-areas: 
      "back ."
      "image content";
  }
  .back {
    grid-area: back;
  }
  .img {
    grid-area: image;
    width: 100%;
  }
  .content {
    grid-area: content;
  }
}
